<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462798732475-4j1lt64agaqro2v190hpu7bfekcb5v8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462798732475-4j1lt64agaqro2v190hpu7bfekcb5v8h</string>
	<key>API_KEY</key>
	<string>AIzaSyDQwAE7RzddFrjW-7UztfkT_JJ51DS91Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>462798732475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pomodoro.PomodoroOPCR</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-90ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-90ea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462798732475:ios:376ea9c54a4a9716b7bd9e</string>
</dict>
</plist>